<h2 class="center" style="margin-top: 10%;">Connexion</h2>
<div style="position:absolute; top: 25%; left: 20%; right: 20%; margin: auto;">
  <p>name: massi, password: massi</p>
  <div class="col s12 m4 offset-m4">
   <div class="card hoverable">
    <form #loginForm="ngForm">
     <div style="padding: 10px;">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
     </div>
     <div style="padding: 10px;">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
     </div>
    </form>
    <div class="card-action center">
     <a (click)="login()" class="waves-effect waves-light btn"  *ngIf="!autentification.isLoggedIn">
      Se connecter
     </a>

    </div>
   </div>
  </div>
 </div>
